In [126]:
#not completed understand
import pandas as pd
import numpy as np
from pandas.core.frame import DataFrame

In [127]:
#giving data to convert it into pandas series(1d array of pands)
data = [1,2,3,4,5]
index = ["a","b","c","d","e"]
#series me ham data or index(a,b,c) dete hai
series = pd.Series(data,index=index)#2nd method to make series"pd.Series(np.random.rand(5))"
#making sries from dict
dic = {"ankit":"coder","deepak":"cse","sanjay":"enge","sangeeta":"house wife"}
dic_series = pd.Series(dic)

In [128]:
#DataFrame
data1 = pd.Series([0.111,0.122,0.133,0.144,0.155])
data2 = pd.Series([0.011,0.122,0.233,0.344,0.455])
data = (data1,data2)
df = pd.DataFrame(data)
#if we want to give name to colums
df = pd.DataFrame({"High":data1,"Close":data2},index = [1,2,3,4,5])

#onther way to give index and column name
#df.index = [1,2,3,4,5]#if we want to change index name
#df.columns = list("12")#change column name in one line code if we want oto writte singel character name
#or
#pd.DataFrame(data,columns=["name1","name2",......])

#if have list inside list
ld = [[1,2,3],[5,6,7]]
ld1 = [[23,34,45],[32,34,45,]]

lddic = {"a":ld,"b":ld1}
lddf = pd.DataFrame(lddic)

#if data is in dict
dict1 = {"a":1,"b":2,"c":3,"d":4}#making 2 dict
dict2 = {"e":5,"f":6,"g":7,"h":8}
dict1s = pd.Series(dict1)#converting them into series/1d array
dict2s = pd.Series(dict2)
dictdata = (dict1s,dict2s)#putting that series in data as using for data
dictdf = pd.DataFrame(dictdata)#making data frame/2d array of data

In [129]:
#Accessing data
'''print(lddf)
print(lddf.a[1])#to read perticular elemnt of df'''
print(lddf.loc[0,:])#to print full perticular row
print(lddf.loc[:,:])#to print full df-->basic concept===.loc[row ka nam,column ka nam] same slicing as str
#.loc[:,:]-->[row,column]  pure data frame slicing es function se he hote hai
#note in this slicing last term will be included loc--location
#iloc is also for slicing but mostly used .loc

a       [1, 2, 3]
b    [23, 34, 45]
Name: 0, dtype: object
           a             b
0  [1, 2, 3]  [23, 34, 45]
1  [5, 6, 7]  [32, 34, 45]

In [130]:
#if we want to change value--->giv location then change it
print(lddf.replace([23,34,45],4))
#lddf["c"]=[4,5,6] #for adding row
#lddf.loc[3,:] = [4,5] #for adding column


#|||Some functions
'''df.to_csv("csv data file.csv")#if we want to convert this data into Excel form.if you dont want see index writte "index=Fals"
print(pd.read_csv("csv data file.csv"))#to read exesting csv file data in python
print(df.head(2))#if you have large data and want to see only limited line from up ward
print(df.tail(2))#if you have large data and want to see only limited line from down ward
print(df.describe())#if you want numeric column count,mean,std,min,25%,50%,75%,max
print(df.index)#to print all index name in dataframe
print(df.to_numpy)#to convert dataframe into numpy array
print(df.sort_index(axis=0,ascending=False))#agar ham index ko ulta kerna chate hai to "ascending=False or axis=0" kerdenge agar column ulte kerne hai to "axis=1" kerdena hai
'''

           a             b
0  [1, 2, 3]  [23, 34, 45]
1  [5, 6, 7]  [32, 34, 45]

'df.to_csv("csv data file.csv")#if we want to convert this data into Excel form.if you dont want see index writte "index=Fals"\nprint(pd.read_csv("csv data file.csv"))#to read exesting csv file data in python\nprint(df.head(2))#if you have large data and want to see only limited line from up ward\nprint(df.tail(2))#if you have large data and want to see only limited line from down ward\nprint(df.describe())#if you want numeric column count,mean,std,min,25%,50%,75%,max\nprint(df.index)#to print all index name in dataframe\nprint(df.to_numpy)#to convert dataframe into numpy array\nprint(df.sort_index(axis=0,ascending=False))#agar ham index ko ulta kerna chate hai to "ascending=False or axis=0" kerdenge agar column ulte kerne hai to "axis=1" kerdena hai\n'

In [157]:
#some other functions
'''print(df.max())#to see all max in all columns
print(df.min())#to see min value from all columns
print(df.mode())#to print(max accuring values in columns)
print(df.median())#will sort coulmn into incresing order
print(df.mean())#give avg of every column
print(df.count())#to see total no of element in column
print(df.sum())#to add all elements of columns'''

'print(df.max())#to see all max in all columns\nprint(df.min())#to see min value from all columns\nprint(df.mode())#to print(max accuring values in columns)\nprint(df.median())#will sort coulmn into incresing order\nprint(df.mean())#give avg of every column\nprint(df.count())#to see total no of element in column\nprint(df.sum())#to add all elements of columns'

In [170]:
#applying features on subset
#note-phele element ya column slect kero phir usme "." laga ker function laga do
print(df.loc[2,:].max())
print(df.loc[2,:].sum())
print(df.loc[2,:].count())
#etc
df

0.233
0.366
2

    High  Close
1  0.122  0.122
2  0.133  0.233
3  0.144  0.344
4  0.155  0.455
5    NaN    NaN

In [201]:
#advance opration on data frame
df = pd.DataFrame({"A":["A","a","B","b"],
                   "B":["C","c","D","d"]})
print(df)
# = df.pivot(columns="A",index=1,values=4)
print(df.sort_values("A"))#ye function phele capital letters ko alphabet ke according arange kerde ga phir smal leeter ke according
print(df.mad(axis=0))#ye absolute mean deviation calculat kere ga 
#note:-axis=1 means row----axis=0 meanscolumn
print(df.std(axis=0))#it calculat standers daviation

   A  B
0  A  C
1  a  c
2  B  D
3  b  d
   A  B
0  A  C
2  B  D
1  a  c
3  b  d
Series([], dtype: float64)
Series([], dtype: float64)

c:\python37\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  if __name__ == "__main__":

In [211]:
#pipe is used in pandas to applyt function on all elements
df = pd.DataFrame({"A":[1,2,3,4,5],
                   "B":[6,7,8,9,0]})

#print(df.pipe(np.add()))
print(df.apply(np.mean))#es function ke madad se jo function ham ne lagaya hai es function me vo har ek element ppe lag jaye ga
print(df.applymap(np.mean))

A    3.0
B    6.0
dtype: float64
     A    B
0  1.0  6.0
1  2.0  7.0
2  3.0  8.0
3  4.0  9.0
4  5.0  0.0